.error {
  color: red;
  font-size: 0.875em;
}

.success {
  color: green;
  font-size: 0.875em;
}

input {
  width: 250px !important;
  margin: 5px !important;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important; 
}
